<div class="cen-jus">

  <br>
  <h3>My Bills</h3>
  <h5>Track monthly household bills and use Paypal or Venmo to make sure everything (and everyone) gets paid on time!</h5>
  <br>

  <ul id="bills" class="group-item">
    <li ng-repeat="bill in vm.bills" class="bill-li list-group-item">
      <strong>{{bill.name}}</strong> - <strong>${{bill.amount}}</strong> - <em>{{bill.category}}</em> - <stong>Due: {{bill.date}}</stong>
      <button class="btn btn-danger btn-xs" ng-click="vm.deleteBill(bill._id)">X</button>
      <button class="btn btn-warning btn-xs" ng-click="showme=true">Edit</button>

      <form class="form-inline" ng-show="showme" id="edit-form">
        <br>
        <div class="form-group">
          <input type="text" name='billName' id="bill-name" placeholder="{{bill.name}}" class="form-control" ng-model="vm.editBill.name" />
        </div>
        <div class="form-group">
          <input type="text" name='billAmount' id="bill-amount" placeholder="{{bill.amount}}" class="form-control" ng-model="vm.editBill.amount" />
        </div>
        <div class="form-group">
          <input type="text" name='bill[date]' id="bill-date" placeholder="1/11/11" class="form-control" ng-model="vm.newbill.date" />
        </div>
        <select class="form-control" name="billCategory" id="bill-category" ng-model="vm.editBill.category">
            <option value="Rent">Rent</option>
            <option value="Utility">Utility</option>
            <option value="Grocery">Grocery</option>
            <option value="Streaming Service">Streaming Service</option>
            <option value="Other">Other</option>
        </select>
        <button class="btn btn-success btn-xs" ng-click="vm.updateBill(bill._id)">Save</button>
        <button class="btn btn-default btn-xs" ng-click="showme=false; vm.resetEditForm();">Cancel</button>

      </form>
    </li>
  </ul>

  <form id="new-bill" class="form-inline">
    <div class="form-group">
      <input type="text" name='bill[name]' id="bill-name" placeholder="Bill Name" class="form-control" ng-model="vm.newBill.name" />
    </div>
    <div class="form-group">
      <input type="text" name='bill[amount]' id="bill-amount" placeholder="Bill Amount" class="form-control" ng-model="vm.newBill.amount" />
    </div>
    <div class="form-group">
      <input type="text" name='bill[date]' id="bill-date" placeholder="1/11/11" class="form-control" ng-model="vm.newBill.date" />
    </div>
    <select class="form-control" name="bill[category]" id="bill-category" ng-model="vm.newBill.category">
        <option value="Rent">Rent</option>
        <option value="Utility">Utility</option>
        <option value="Grocery">Grocery</option>
        <option value="Streaming Service">Streaming Service</option>
        <option value="Other">Other</option>
    </select>
    <button class="btn btn-success btn-sm submit-login-button" type="submit" ng-click="vm.postBill()">Add Bill</button>
  </form>

</div>
