<div class="cen-jus" ng-hide="vm.isLoggedIn()">
  <br>
  <h3>Welcome Home!</h3>
  <h4>Let Housemate take care of the details so you and your housemates can live peacefully.</h4>
  <br>
  <p><strong>To access your Home Page, please <a ui-sref-active="active" ui-sref="register">register</a> or login:</strong></p>
  <br>
  <form class="form-inline" ng-submit="vm.login()">
    <div class="form-group">
      <label for="inputEmail1">Email</label>
      <input type="text" id="inputEmail1" class="form-control" placeholder="Email" ng-model="vm.loginData.email" required />
    </div>
    <div class="form-group">
      <label for="inputPword1">Password</label>
      <input type="password" id="inputPword1" class="form-control" placeholder="Password" ng-model="vm.loginData.password" required />
    </div>
    <button class="btn btn-success submit-login-button" type="submit">Login!</button>
  </form>

</div>

<div class="container cen-jus" ng-show="vm.isLoggedIn()">
  <div>
    <br>
    <h3 class="cen-jus">Welcome Home!</h3>
    <br>
    <div class="row">

      <div class="col-md-4">
        <div class="thumbnail">
          <img class="about-thumbs-pics" src="/assets/img/logo.png" alt="house">
          <div class="caption">
            <p>Household Info</p>
            <a class="btn btn-default" ui-sref="aboutPage">Household</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img class="about-thumbs-pics" src="/assets/img/roommates.png" alt="roommates">
          <div class="caption">
            <p>Housemates</p>
            <a class="btn btn-default" ui-sref="housematesPage">Housemates</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img class="about-thumbs-pics" src="/assets/img/bill.png" alt="bill pay">
          <div class="caption">
            <p>Bills To Be Paid</p>
            <a class="btn btn-success" ui-sref="bills">My Bills</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
