<div>
  <br>
  <h3 class="cen-jus">About My Home</h3>
  <h4 class="cen-jus"> My address goes here.</h4>
  <br>
  <div class="row cen-jus">

    <div class="col-md-4">
      <h4>Landlord</h4>
      <p>Name: {{vm.households.landlord.name}}</p>
      <p>Phone: {{vm.households.landlord.phone}}</p>
      <p>Address: {{vm.households.landlord.address}}</p>
      <p>Email: {{vm.households.landlord.email}}</p>
      <p>Website: {{vm.households.landlord.website}}</p>
    </div>

    <div class="col-md-4">
      <h4>Property manager</h4>
      <p>Name: {{vm.propertyManager.name}}</p>
      <p>Phone: {{vm.propertyManager.phone}}</p>
      <p>Address: {{vm.propertyManager.address}}</p>
      <p>Email: {{vm.propertyManager.email}}</p>
      <p>Website: {{vm.propertyManager.website}}</p>
    </div>

    <div class="col-md-4">
      <h4>Maintenance</h4>
      <p>Name: {{vm.maintenance.name}}</p>
      <p>Phone: {{vm.maintenance.phone}}</p>
      <p>Address: {{vm.maintenance.address}}</p>
      <p>Email: {{vm.maintenance.email}}</p>
      <p>Website: {{vm.maintenance.website}}</p>
    </div>

  </div>

</div>
