<div ng-controller="HouseholdsController as vm">
  <br>
  <h3 class="cen-jus">About My Home</h3>
  <h4 class="cen-jus">My Address: {{vm.household.address}}</h4>
  <br>
  <div class="row cen-jus">

    <div class="col-md-4">
      <h4>Landlord</h4>
      <p>Name: {{vm.household.landlord.name}}</p>
      <p>Phone: {{vm.household.landlord.phoneNumber}}</p>
      <p>Address: {{vm.household.landlord.address}}</p>
      <p>Email: {{vm.household.landlord.email}}</p>
      <p>Website: {{vm.household.landlord.website}}</p>
    </div>

    <div class="col-md-4">
      <h4>Property Manager</h4>
      <p>Name: {{vm.household.propertyManager.name}}</p>
      <p>Phone: {{vm.household.propertyManager.phoneNumber}}</p>
      <p>Address: {{vm.household.propertyManager.address}}</p>
      <p>Email: {{vm.household.propertyManager.email}}</p>
      <p>Website: {{vm.household.propertyManager.website}}</p>
    </div>

    <div class="col-md-4">
      <h4>Maintenance</h4>
      <p>Name: {{vm.household.maintenance.name}}</p>
      <p>Phone: {{vm.household.maintenance.phoneNumber}}</p>
      <p>Address: {{vm.household.maintenance.address}}</p>
      <p>Email: {{vm.household.maintenance.email}}</p>
      <p>Website: {{vm.household.maintenance.website}}</p>
    </div>

  </div>
  <div class="row cen-jus">
    <button class="btn btn-warning btn-xs cen-jus" ng-click="showme=true">Edit Household Info</button>
    <br>
    <form class="form-inline" ng-show="showme" id="edit-form">
      <br>
      <div class="form-group">
        <input type="text" name='householdAddress' id="household-address" placeholder="{{vm.household.address}}" class="form-control" ng-model="vm.editHousehold.address" />
      </div>
      <br>
      <div class="col-md-4">
        <h4>Landlord</h4>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name='landlordName' id="landlord-name" placeholder="{{vm.household.landlord.name}}" class="form-control" ng-model="vm.editHousehold.landlord.name" />
        </div>
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" name='landlordPhoneNumber' id="landlord-phoneNumber" placeholder="{{vm.household.landlord.phoneNumber}}" class="form-control" ng-model="vm.editHousehold.landlord.phoneNumber" />
        </div>
        <div class="form-group">
          <label>Address:</label>
          <input type="text" name='landlordAddress' id="landlord-address" placeholder="{{vm.household.landlord.address}}" class="form-control" ng-model="vm.editHousehold.landlord.address" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" name='landlordEmail' id="landlord-email" placeholder="{{vm.household.landlord.email}}" class="form-control" ng-model="vm.editHousehold.landlord.email" />
        </div>
        <div class="form-group">
          <label>Website:</label>
          <input type="text" name='landlordWebsite' id="landlord-website" placeholder="{{vm.household.landlord.website}}" class="form-control" ng-model="vm.editHousehold.landlord.website" />
        </div>
      </div>
      <div class="col-md-4">
        <h4>Property Manager</h4>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name='propertyManagerName' id="propertyManager-name" placeholder="{{vm.household.propertyManager.name}}" class="form-control" ng-model="vm.editHousehold.propertyManager.name" />
        </div>
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" name='propertyManagerPhoneNumber' id="propertyManager-phoneNumber" placeholder="{{vm.household.propertyManager.phoneNumber}}" class="form-control" ng-model="vm.editHousehold.propertyManager.phoneNumber" />
        </div>
        <div class="form-group">
          <label>Address:</label>
          <input type="text" name='propertyManagerAddress' id="propertyManager-address" placeholder="{{vm.household.propertyManager.address}}" class="form-control" ng-model="vm.editHousehold.propertyManager.address" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" name='propertyManagerEmail' id="propertyManager-email" placeholder="{{vm.household.propertyManager.email}}" class="form-control" ng-model="vm.editHousehold.propertyManager.email" />
        </div>
        <div class="form-group">
          <label>Website:</label>
          <input type="text" name='propertyManagerWebsite' id="propertyManager-website" placeholder="{{vm.household.propertyManager.website}}" class="form-control" ng-model="vm.editHousehold.propertyManager.website" />
        </div>
      </div>
      <div class="col-md-4">
        <h4>Maintenance</h4>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name='maintenanceName' id="maintenance-name" placeholder="{{vm.household.maintenance.name}}" class="form-control" ng-model="vm.editHousehold.maintenance.name" />
        </div>
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" name='maintenancePhoneNumber' id="maintenance-phoneNumber" placeholder="{{vm.household.maintenance.phoneNumber}}" class="form-control" ng-model="vm.editHousehold.maintenance.phoneNumber" />
        </div>
        <div class="form-group">
          <label>Address:</label>
          <input type="text" name='maintenanceAddress' id="maintenance-address" placeholder="{{vm.household.maintenance.address}}" class="form-control" ng-model="vm.editHousehold.maintenance.address" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" name='maintenanceEmail' id="maintenance-email" placeholder="{{vm.household.maintenance.email}}" class="form-control" ng-model="vm.editHousehold.maintenance.email" />
        </div>
        <div class="form-group">
          <label>Website:</label>
          <input type="text" name='maintenanceWebsite' id="maintenance-website" placeholder="{{vm.household.maintenance.website}}" class="form-control" ng-model="vm.editHousehold.maintenance.website" />
        </div>
      </div>
      <br>
      <button class="btn btn-success btn-xs" ng-click="vm.updateHousehold(vm.household._id)">Save</button>
      <button class="btn btn-default btn-xs" ng-click="showme=false; vm.resetEditForm();">Cancel</button>
    </form>
  </div>
</div>
